
.Weather {
  border: 0.5px solid #9ba3eb;
  border-radius: 10px;
  font-family: "Familjen Grotesk", sans-serif;
  font-weight: 700;
  margin: 30px auto;
  padding: 16px;
}
.Weather .city {
    color: #1a28a3;
    display: block;
    font-size: 42px;
    font-weight: 100;
    line-height: 28px;
    margin: 15px;
    padding: auto;
    text-align: center;
  }
  .Weather .temperature {
    color: #242f9b;
    display: block;
    font-size: 54px;
    font-weight: 400;
    line-height: 1;
    margin: 10px;
    text-align: center;
  }
  .Weather .date {
    color: #5c6bec;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
  }
  .Weather .units {
    color: #242f9b;
    display: block;
    font-size: 18px;
    font-weight: 200;
    line-height: 1;
    position: relative;
    right: -64px;
    text-align: center;
    top: -90px;
  }
  .Weather .unit-link {
    color: #242f9b;
    cursor: default;
    text-decoration: none;
  }
  .Weather .unit-link:hover {
    color: #0d6efd;
    text-decoration: none;
  }
  .Weather .left-panel {
    color: #5c6bec;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
  }
  .Weather li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .Weather .weather-icon {
    float: right;
    margin-right: 60px;
  }
 