.Weather .city {
    color: #242f9b;
    display: block;
    font-size: 42px;
    font-weight: 100;
    line-height: 28px;
    margin: 15px;
    padding: auto;
    text-align: center;
  }
  .Weather .date {
    text-align: center;
    color: #9ba3eb;
    font-style: italic;
    font-size: 20px;
  }
  .Weather .temp-degree {
    text-align: center;
  }
  .Weather .temperature {
    color: #242f9b;
    font-size: 54px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    display: block;
  }
  .Weather .units {
    color: #242f9b;
    display: block;
    position: relative;
    font-size: 22px;
    text-align: center;
    top: -86px;
    right: -64px;
  }
  .Weather .unit-link {
    color: #242f9b;
    cursor: default;
    text-decoration: none;
  }
  .Weather .unit-link:hover {
    color: #0d6efd;
    text-decoration: none;
  }
  .Weather .left-panel {
    position: relative;
    left: -10px;
    font-style: italic;
    font-size: 20px;
    color: #9ba3eb;
  }
  .Weather li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .Weather .main-icon {
    font-size: 20px;
  }
  .Weather .row {
    color: #242f9b;
  }
  .Weather .col {
    text-align: center;
    font-style: italic;
  }
  